<html class="gr__" lang="en"><!--<![endif]--><head>
<script async="" src="https://www.google-analytics.com/analytics.js"></script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement,
  m=s.getElementsByTagName[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40664699-1', 'auto');
  ga('send', 'pageview');

</script>
    <title>{{fullname}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{fullname}}'s web page">
    <meta name="author" content="{{fullname}}">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">

    <!-- github calendar css -->
    <link rel="stylesheet" href="assets/plugins/github-calendar/dist/github-calendar.css">
    <!-- github acitivity css -->
    <link rel="stylesheet" href="assets/plugins/github-activity/src/github-activity.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
<body>
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="James Lee" width="142" height="142">
            <div class="profile-content pull-left">
                <h1 class="name">{{fullname}}<div></div></h1>
                <h2 class="desc">Doctor in Computational Linguistics</h2><p><br></p>
                <ul class="social list-inline">

                    <li><a href="https://github.com/mardub1635"><i class="fa fa-github"></i></a><br></li>
                    <li><a href="https://www.linkedin.com/in/marie-dubremetz-4852ba30/"><i class="fa fa-linkedin"></i></a><br></li>



                </ul>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" target="marie@stp.lingfil.uu.se"><i class="fa fa-paper-plane"></i> Contact Me</a>
        <div><div></div></div></div><!--//container-->
    </header><!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                {{#presentation}}
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">{{text}} <a href="#Passion">Hobby</a>

                          <div class="date">Last Update: <b>{{date}}</b>.</div><!-- Not finding what you want? Go to the <a href="index2.html"> older version</a><br></div>-->

                </section><!--//section-->
                {{/presentation}}
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Projects List</h2>
                        <div class="content">

							{{#project}}
                            <div class="item row">
                                <!--//desc-->
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">
                                <img class="img-responsive project-image" src="{{image }}" alt="project name">
                                </a>
                                
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                	
                                    <h3 class="title"><a target="_blank">{{titre}}<br></a></h3>
                                    
                                    <p>{{description}}<br>
                                    	<div class="date">{{date}}</div>
                                    </p>

                                    <a class="more-link" target="_blank" href="{{href}}"><i class="fa fa-external-link"></i> {{htext}}<br></a>
                                    <p><br></p>
                                   	
                                </div><!--//desc-->

                            </div><!--//item-->
                            {{/project}}
                            <hr class="divider">

                            <div class="item featured text-center">
                                <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">Repetitive figure detector<br></a></h3>
                                <p class="summary">Keywords: distance reading, digital humanities and philology, discourse analysis, rhetorics<br></p>
                                <div class="featured-image">
                                    <a target="_blank" href="http://thevisualcommunicationguy.com/wp-content/uploads/2014/12/Infographic_PeriodicTableFiguresOfSpeech3.jpg">
                                    <img class="img-responsive project-image" alt="project name" src="assets/images/projects/Periodic.jpg">
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">&nbsp;Open source<br></div>
                                        </div>
                                    </div>

                                <div class="desc text-left">
                                    <p>I build tools for literature analysis. My specialty is detecting figure of speech. I work specially on figures of repetition (here the yellow ones in the periodic period table above).<br></p>
                                    <p>I attach great importance to application of my research as well. You will see demos, code, samples that I provide. They will give you a concrete experience of what I do. 
                                        Date:<div class="date">{{mainProjectDate}}</div><br></p>
                                </div><!--//desc-->
                                <a class="btn btn-cta-secondary" target="_blank" href="http://stp.lingfil.uu.se/%7Emarie/cgi/demo.html"><i class="fa fa-thumbs-o-up"></i> Demo</a>
                            </div><!--//item-->


                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Publications</h2>
                        <div class="content"><!--//item-->
                            {{#publi}}
                            <div class="item">
                                <h3 class="title">{{type}}</h3>
                                <p class="summary">{{text}}<br></p>
                                <p>{{#lien}}<a target="_blank" class="label label-theme" href="{{href}}"><i class="label label-theme"></i>{{type}}</a>{{/lien}}</p>

                            </div>
                            {{/publi}}



                        </div><!--//content-->
                    </div><!--//section-inner-->
                <div></div></section><section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Teaching</h2>
                        <div class="content">
                            {{#teaching}}
                            <div class="item">
                                <h3 class="title"><a href="{{href}}">{{title}}</a></h3>
                                <p class="summary">{{text}}<br></p>

                            </div>
                            {{/teaching}}
                        </div><!--//content-->
                    <div></div></div><!--//section-inner-->
                <div></div></section><!--//section-->


                <section class="github section">
                    <div class="section-inner">

                        <h2 class="heading">Recordings</h2>Below&nbsp; you can see the recording of the second talk I gave on chiasmus detection.<br>&nbsp;
<div class="videoWrapper">
<iframe src="https://www.youtube.com/embed/IZPhyBk8oU8" gesture="media" allow="encrypted-media" allowfullscreen="" width="100%" height="315" frameborder="0"></iframe>
    </div>
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <!-- <div class="secondary col-md-4 col-sm-12 col-xs-12"> -->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                {{#infos}}
                                <li><i class="fa fa-{{fafa}}"></i><span class="sr-only">{{type}}</span>{{content}}
                                {{#lien}}<a href="{{href}}">{{htext}}</a>{{/lien}}
                                </li>
                                {{/infos}}
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->
                <aside class="list music aside section"><a name="Passion"></a>
                    <div class="section-inner">
                        <h2 class="heading"><i class="fa fa-heart"></i>Hobby</h2>
                        <div class="content">

                            <ul class="list-unstyled">
                                {{#passions}}
                              <li><i class="fa fa-{{fafa}}"></i> <a href="{{href}}">{{text}}<br></a></li>
                              {{/passions}}
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                Sample of my technical skills.</p>

                            <div class="skillset">
                                {{#skills}}
                                <div class="item">
                                    <h3 class="level-title">{{name}}<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">{{level}}</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="{{percentage}}%" style="width: {{percentage}}%;">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->
                                {{/skills}}
                                <p><a class="more-link" href="https://www.linkedin.com/in/marie-dubremetz-4852ba30/"><i class="fa fa-external-link"></i> More on LinkedIn<br></a></p>
                            </div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="testimonials aside section">
                    <!--//section-inner-->
                </aside><!--//section-->

                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                {{#languages}}
                                <li class="item">
                                    
                                    <span class="title"><strong>{{name}}:</strong></span>
                                    <span class="level">{{level}} <br class="visible-sm visible-xs">{{#star}}<i class="fa fa-star"></i>{{/star}} {{#half-star}}<i class="fa fa-star-half"></i>{{/half-star}}</span>
                                </li>
                                {{/languages}}

                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="blog aside section">
                    <!--//section-inner-->
                </aside><!--//section-->





                <aside class="credits aside section">

                </aside><!--//section-->

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support.  If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> and destroyed with <a href="http://mustache.github.io/#demo" target="_blank">{}</a> by me :)</small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
    <!-- github calendar plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
    <script type="text/javascript" src="assets/plugins/github-calendar/dist/github-calendar.min.js"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="assets/plugins/github-activity/src/github-activity.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>



</div></body></html>
